@use "../utils/mixins" as ma;

.about {
  &__container {
    @media (max-width: 1150px) {
      padding: 20px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    @include ma.adaptiv-value("padding-top", 100, 35, 0);
    justify-content: space-between;

    p {
      display: flex;
      justify-content: center;
      @include ma.adaptiv-value("padding-top", 19, 0, 0);
      @include ma.adaptiv-value("width", 513, 260, 0);
    }

    @media (max-width: 1150px) {
      padding: 20px;
    }

    @media (max-width: 768px) {
      gap: 20px;
    }

    @media (max-width: 425px) {
      text-align: center;
      p {
        text-align: justify;
      }
    }
  }
}
