@use "../utils/mixins" as mh;
@use "../utils/_settings.scss" as setH;

.header {
  &__container {
    @include mh.adaptiv-value("padding-top", 40, 5, 0);
    position: relative;
    z-index: 2;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mh.adaptiv-value("height", 42, 32, 0);
    padding: 0px 20px;
    backdrop-filter: blur(6px) saturate(280%);
    background-color: rgba(255, 255, 255, 0.51);
    border-radius: 8px;
    border: 1px solid rgba(209, 213, 219, 0.51);
    color: #000;

    @media (max-width: 923px) {
      padding: 0px 10px;
      justify-content: space-between;
    }

    @media (max-width: 425px) {
      backdrop-filter: blur(1px) saturate(80%);
    }
  }

  &__logo {
    display: flex;
    a {
      display: flex;
      align-self: center;
      align-items: center;
      font-family: "Kanit";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.43em;
    }
  }

  &__nav {
    width: 433px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
    border: 1px solid #6d7d7d;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
    @include mh.adaptiv-value("line-height", 24, 12, 0);
    text-align: center;
    @include mh.adaptiv-value("letter-spacing", 6.88, 2.88, 0);
    letter-spacing: 0.43em;
    padding: 5px 25px;
  }
}

.burger-menu {
  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__btn {
    border: none !important;
    font-size: mh.fluid(22) !important;
    background-color: initial;
  }

  @media (min-width: 924px) {
    display: none;
  }
}

@media (max-width: 923px) {
  .header__nav {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .burger-menu {
    display: flex;

    &__btn {
      z-index: 20;
    }

    &__links {
      display: none;
      flex-direction: column;
      position: fixed;
      align-items: center;
      height: 370px;
      width: 290px;
      top: 0;
      right: 0;
      z-index: 5;
      padding: 50px 0px;
      text-transform: uppercase;
      font-family: "Kanit";
      font-size: 22px;
      color: #cbc2c2;
      font-weight: bold;
      backdrop-filter: blur(16px) saturate(280%);
      background-color: rgba(63, 63, 63, 0.8);
      animation: burgerAnimation 0.5s;
      row-gap: 30px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      border-bottom: 1px solid #efa8a8;
    }
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.swiper {
  box-sizing: border-box;
  position: relative;
  margin-top: -82px;
  padding: 0;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  position: relative;
  @include mh.adaptiv-value("height", 489, 289, 0);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}
.swiper-sliderContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #080808;
  backdrop-filter: blur(3px) saturate(10%);
  background-color: rgba(121, 110, 110, 0.21);
  @include mh.adaptiv-value("width", 750, 250, 0);
  font-size: mh.fluid(40);
  padding: 8px 12px;
  position: absolute;
  top: 40%;
  left: 30%;

  @media (max-width: 1024px) {
    left: 25%;
  }

  @media (max-width: 768px) {
    left: 25%;
  }

  @media (max-width: 425px) {
    left: 17%;
  }

  @media (max-width: 375px) {
    left: 15%;
  }

  @media (max-width: 320px) {
    left: 12%;
  }
}
.swiper-pagination {
  // position: absolute;
  bottom: -5;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  z-index: 999;


}

.swiper-pagination-bullet {
  @include mh.adaptiv-value("width", 40, 20, 0);
  @include mh.adaptiv-value("height", 10, 7, 0);
  background-color: #000;
  opacity: 0.8;
  gap: 20px;
  border-radius: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #000;
  opacity: 1;
  
}
