@use "../utils/mixins" as ms3;

.section-three {
  @include ms3.adaptiv-value("padding-top", 100, 15, 0);
  &__container {
    @media (max-width: 1150px) {
      padding: 20px;
      font-weight: bolder;
    }
  }

  &__body {
    background: url(../img/section-three-BG.png) no-repeat left/cover;
    display: flex;
    flex-direction: column;
    color: #75724f;
    align-items: center;
    @include ms3.adaptiv-value("border-top-right-radius", 100, 50, 0);
    @include ms3.adaptiv-value("gap", 29, 10, 0);
    @include ms3.adaptiv-value("padding-top", 61, 0, 0);
    @include ms3.adaptiv-value("padding-bottom", 69, 19, 0);
    @include ms3.adaptiv-value("padding-left", 512, 100, 0);
    @include ms3.adaptiv-value("padding-right", 105, 35, 0);
  }

  .btn {
    padding: 8px 28px;
    
    @media (max-width: 1150px) {
      width: max-content;
    }
  }
}
