@use "../utils/mixins" as ms7;

.sectionEight {
  padding-top: 100px;
  .swiper-wrapper {
    height: 200px;
  }

  .swiper-button-prev {
    top: 70%;
    color: #5e5c5c;
    cursor: pointer;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .swiper-button-next {
    top: 70%;
    color: #5e5c5c;
    cursor: pointer;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .swiper-slide {
    height: 200px;
    img{
        width: 100%;
        height: 100%;
    }
  }
}
