@use "../utils/mixins" as ms2;

.section-two {
  &__container {
    display: flex;
    @include ms2.adaptiv-value("gap", 22, 12, 0);
    @include ms2.adaptiv-value("padding-top", 75, 15, 0);

    @media (max-width: 700px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__column {
    display: flex;
    justify-content: center;
  }

  &__row-one {
    display: flex;
    @include ms2.adaptiv-value("gap", 138, 12, 0);
    align-items: end;
    justify-content: center;
  }
  &__row-one-link {
    padding: 8px 28px;
  }

  &__row-two {
    display: flex;
    justify-content: center;
    @include ms2.adaptiv-value("gap", 78, 22, 0);
    align-items: center;
    @include ms2.adaptiv-value("padding-top", 56, 26, 0);
    @include ms2.adaptiv-value("padding-bottom", 56, 26, 0);
    @include ms2.adaptiv-value("padding-left", 35, 15, 0);
    @include ms2.adaptiv-value("padding-right", 35, 15, 0);
  }
}
.about-left {
  display: flex;
  @include ms2.adaptiv-value("gap", 23, 12, 0);

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
