@use "../utils/mixins" as ms4;

.section-four {
  &__container {
    display: flex;
    justify-content: space-between;
    @include ms4.adaptiv-value("padding-top", 100, 15, 0);
    gap: 22px;

    @media (max-width: 1150px) {
      padding: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column-left {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    @include ms4.adaptiv-value("gap", 74, 34, 0);

    @media (max-width: 425px) {
      text-align: center;
      p {
        text-align: justify;
      }
    }
  }

  &__left-top {
    display: flex;
    flex-direction: column;
    @include ms4.adaptiv-value("width", 440, 290, 0);
    @include ms4.adaptiv-value("gap", 27, 17, 0);
  }

  &__left-bottom {
    display: flex;
    flex-direction: column;
    justify-items: center;
    p {
      display: flex;
      padding-top: 19px;
      &:nth-child(even)::before {
        content: "";
        background: url(../../img/section-four/stars.svg);
        width: 104px;
        height: 16px;
        margin-right: 8px;
      }
    }
  }

  &__column-right {
    display: flex;
    flex-direction: column;
    gap: 22px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right-top {
    display: flex;
    gap: 22px;
  }

  &__right-bottom {
    display: flex;
    @include ms4.adaptiv-value("gap", 69, 42, 0);
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    padding: 8px 28px;
    @media (max-width: 1150px) {
      width: max-content;
    }
  }
}
.avatars {
  display: flex;
}
.avatar {
  &:nth-child(n + 1) {
    margin-right: -25px;
  }
  &:hover {
    transform: scale(1.2, 1.2);
    &:nth-child(n + 1) {
      margin-right: 10px;
      margin-left: 10px;
    }
    border: 1px solid #fff;
    border-radius: 50%;
  }
}
.avatar--1 {
}
.avatar--2 {
}
.avatar--3 {
}
.avatar--4 {
}
