@use "../utils/mixins" as ms8;

.section-eight {
  &__container {
    @include ms8.adaptiv-value("padding-top", 100, 35, 0);
    @include ms8.adaptiv-value("padding-bottom", 86, 21, 0);
    text-align: center;
    border-bottom: 1px solid #212828;
  }

  &__row {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 26px;
    @include ms8.adaptiv-value("padding-top", 35, 15, 0);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;


    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }
  }
  
  .btn{
    border: none;
  }
}